* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* CONTENEDOR PRINCIPAL */
.container,
.portfolio {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}


/* DENTRO DEL HEADER */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.titutlo {
    margin-top: -7px;
}

.titulo span {
    color: #00ffff;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .activo {
    color: #00ffff;
    border-radius: 3em;
}

.menu a:hover {
    background-color: #64b99d;
    color: #191c32;
    transition: ease-in .3s;
    border-radius: 3em;
}

/* MAIN */

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}


.mifoto {
    width: 300px;
    height: 500px;
    border: 2px solid #7979eb;

}

h1 {
    font-size: 3em;
}

span {
    color: #98a0a0;
}

.download-cv {
    padding: 10px 20px;
    background-color: #00ffff;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px #9ff3f3;
}

.download-cv:hover {
    background-color: #faf0f0;
    box-shadow: none;
}

.info-content p {
    padding: 2em;
}

/* SOBRE MI */
.sobremi {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.sobremi img {
    width: 100%;
    height: 500px;
    grid-column: 1/3;
}

.sobremi-info {
    grid-column: 3/10;
    padding: 2em;
}

.sobremi-info h2 {
    font-size: 2em;
    color: #191c32;
}


.sobremi-info p {
    margin-top: 1.5em;
}

/* MI PORTFLIO */
.proyecto {
    background-color: #191c32;

}

.proyecto .container-proyec {

    display: flex;
}

.proyecto-headings {
    width: 200vw;
    padding: 5em;

}

.proyecto-headings h2 {
    font-size: 1.5em;
    color: #ffffff;
}

.container-proyec {
    /* width: 80vw; */
    /* height: 80vh; */
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-flow: row wrap;


}

.card-title {
    padding: 10px;
}


.card .proyecto-detalles {
    display: flex;
    align-self: center;
    margin: 0 auto;
    margin: 1em;
    width: 70%;

}

.card .proyecto-detalles a {
    text-decoration: none;
    color: #191c32;
}


.img-proyec {
    width: 550px;
    height: 400px;
    padding: 5px;
}


.img-proyec:hover {
    border: black solid 2px;
}

footer {
    background-color: #808080;
    align-items: center;
    padding: 10px;
}


h4 {
    font-size: 30px;
}

.contacto {
    display: grid;
    text-align: center;
    padding-top: 15px;

}

.contacto i {
    font-size: 27px;

}

.contacto i:hover {
    border: 2px solid #008000;

}

/* RESPONSIVE */
/* @media(max-width: 858px){
    .container{
        whidth:40%
    }
} */

/* ANIMACIONES */

/* Titulo */
@keyframes titulo {
    0% {
        background-color: #e77272;
    }

    25% {
        background-color: #ffff00;
    }

    50% {
        background-color: #0000ff;
    }

    100% {
        background-color: #00ffff;
    }
}

.titulo {
    width: 50px;
    height: 50px;
    background-color: #eedede;
    animation-name: titulo;
    animation-duration: 10s;
    border-radius: 10%;
}

/* h1 */
@keyframes h1 {
    0% {
        background-color: #f1bfbf;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: #ffff00;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: #0000ff;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: #008000;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: #f0bbbb;
        left: 0px;
        top: 0px;
    }
}

h1 {

    position: relative;
    animation-name: h1;
    animation-duration: 4s;
    border-style: dashed;
}