*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    overflow-x: hidden;
}
/* CONTENEDOR PRINCIPAL */
.container, .portfolio{
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}


/* DENTRO DEL HEADER */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.titutlo{
    margin-top: -7px;
}

.titulo span{
color: #00ffff;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menu li{
    list-style: none;
}
.menu a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .activo{
    color: #00ffff;
    border-radius: 3em;
}

.menu a:hover{
    background-color: #64b99d;
    color: #191c32;
    transition: ease-in .3s;
    border-radius: 3em;
}

/* MAIN */

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}


.mifoto{
    width: 300px;
    height: 500px;
    border: 2px solid #7979eb;
    
}

h1{
    font-size: 3em;
}

span{
    color: aqua;
}

.download-cv{
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(159, 243, 243);
}
.download-cv:hover{
    background-color: #faf0f0;
    box-shadow:none;
}

.info-content p{
    padding: 2em;
}

/* SOBRE MI */
.sobremi{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.sobremi img{
    width: 100%;
    height: 500px;
    grid-column: 1/3;
}

.sobremi-info{
    grid-column: 3/10;
    padding: 2em;
}

.sobremi-info h2{
font-size: 2em;
color:#191c32;
}


/* .divisor{
    height: 4px;
    width: 60px;
    background-color: #00ffff;
    margin-top: 10px;
    margin-bottom: 2.5em;
} */

.sobremi-info p{
    margin-top: 1.5em;
}

/* MI PORTFLIO */
.proyecto{
    background-color: #191c32;
}

.proyecto .container-proyec{

    display: flex;
}

.proyecto-headings{
width: 200vw;
padding: 5em;
}

.proyecto-headings h2{
    font-size: 1.5em;
    color: #ffffff;
}

 .container-proyec{
    /* width: 80vw; */
    height: 80vh;
    /* margin: 0 auto; */
    display: flex;
    /* align-items: center; */
    /* justify-content: left; */
    flex-wrap: wrap;
}

.card{
    width: 200px;
    height: 200px;
    display: flex; 
}

.img1{
    width: 100%;
    height: 290px;
    /* background-image: url(/img/proyectouno.png); */
    background-size: cover;
    margin: 5px;
}

.img2{
    width: 100%;
    height: 290px;
    /* background-image: url(/img/proyectodos.png); */
    background-size: cover;
    margin: 5px;
}

.img3{
    width: 90px;
    height: 290px;
    /* background-image: url(/img/proyectodos.png); */
    background-size: cover;
    margin: 5px;
}
.card-title{
    padding: 10px;
}


.card .proyecto-detalles{
display: flex;
align-self: center;
margin: 0 auto;
margin: 1em;
width: 70%;

}

.card .proyecto-detalles a{
    text-decoration: none;
    color:#191c32;
}

.contacto{
    display: grid;

}

.contacto i{
    font-size: 22px;
    color: #006400;
}