* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* CONTENEDOR PRINCIPAL */
.container
 {
    width: 100%;
    /* height: 100%; */
    background-color: #191c32;
    color: #ffffff;
}


/* DENTRO DEL HEADER */
header{
    padding-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


header .navbar ul {
    display: flex;
    
   
}

.titulo {
    width: 50px;
    height: 50px;
    background-color: #eedede;
    animation-name: titulo;
    animation-duration: 10s;
    border-radius: 10%;
}

.titulo {
    margin-top: -7px;
}

.titulo span {
    color: #00ffff;
}

.navbar {
    display: flex;
    
    justify-content: space-around;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
}

.navbar .activo {
    color: #00ffff;
    border-radius: 3em;
}

.navbar a:hover {
    background-color: #64b99d;
    color: #191c32;
    transition: ease-in .3s;
    border-radius: 3em;
}

/* MAIN */

.main {
    margin: 0 auto;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.mifoto {
    width: auto;
    height: 400px;
    border: 2px solid #7979eb;

margin-top: 50px;
}

h1 {
    font-size: 3em;
}

span {
    color: #98a0a0;
}

.download-cv {
    
    padding: 10px 20px;
    background-color: #00ffff;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px #9ff3f3;
}

.download-cv:hover {
    background-color: #faf0f0;
    box-shadow: none;
}

.info-content p {
    padding: 2em;
}

/* SOBRE MI */
.sobremi {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #f5ecec;
    color: #0c0c0c;

    
}

.sobremi img {
    margin-right: 10px;
    width: 50%;
    height: 500px;
    border: #191c32 0px solid;
    
    
}

.sobremi-info {
   margin-left: 5px;
    padding: 2em;
}

.sobremi-info h2 {
    font-size: 2em;
    color: #191c32;
}


.sobremi-info p {
    margin-top: 1.5em;
}

/* MIS PROYECTOS */
.proyecto {
    background-color: #191c32;
    width: 100%;

}

 .container-proyec {

    display: flex;
}

.proyecto-headings {
    width: 200vw;
    padding-top: 3em;
    text-align:justify;

}

.proyecto-headings h2 {
    font-size: 1.5em;
    color: #ffffff;
    
}
.proyecto-headings h2:hover{
    text-shadow: #f508d5 1px 2px;
}
.container-proyec {
    /* width: 80vw; */
    /* height: 80vh; */
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-flow: row wrap;


}

.card-title {
    padding: 10px;
}

.card-title h3{
    border-style:dotted;
    
}

.card-title h3:hover{
    text-shadow: #e7f70d 1px 2px;
    font-size: 25px;
}


.card .proyecto-detalles {
    display: flex;
    align-self: center;
    margin: 0 auto;
    margin: 1em;
    width: 70%;

}

.card .proyecto-detalles a {
    text-decoration: none;
    color: #191c32;
}


.img-proyec {
    width: 420px;
    height: auto;
    padding: 5px;
}


.img-proyec:hover {
    border: black solid 2px;
}

footer {
    background-color: #808080;
    align-items: center;
    padding: 10px;
    width: 100%;
}


footer h4 {
    font-size: 20px;
}

.contacto {
    display: grid;
    text-align: center;
    padding-top: 15px;

}

.contacto i {
    font-size: 22px;

}

.contacto i:hover {
    border: 2px solid #008000;

}

/* RESPONSIVE */
@media screen and (max-width: 446px){
    .navbar{
        display: none;

    }
    header{
       justify-content: flex-start;
    }
    .main{
        flex-direction: column;
    }
    .info-content{
        margin-top: 50px;
    }
    .download-cv{
        text-align: center;
    }
    .sobremi{
        flex-direction: column;
    }
    }

   



/* ANIMACIONES */

/* Titulo */
@keyframes titulo {
    0% {
        background-color: #e77272;
    }

    25% {
        background-color: #ffff00;
    }

    50% {
        background-color: #0000ff;
    }

    100% {
        background-color: #00ffff;
    }
}



/* h1 */
@keyframes h1 {
    0% {
        background-color: #f1bfbf;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: #ffff00;
        left: 200px;
        top: 0px;
    }

    50% {
        background-color: #0000ff;
        left: 200px;
        top: 200px;
    }

    75% {
        background-color: #008000;
        left: 0px;
        top: 200px;
    }

    100% {
        background-color: #f0bbbb;
        left: 0px;
        top: 0px;
    }
}

h1 {

    position: relative;
    animation-name: h1;
    animation-duration: 4s;
    
}