body {
    /* --rosado: rgb(184, 57, 57); creo variable para utilizar en cualquier lado */
    font-family: serif;
    text-align: center;
}

#cajas {
    display: flex;/*la caja principal ocupa todo el ancho*/

    /* display: inline-flex; la caja p se centra */

    /* flex-direction:row;por defecto viene asi en fila
    flex-wrap: wrap;para q los contenidos no se salgan del cont principal */

    flex-flow:row wrap; /*en una misma linea uso ambos*/
    justify-content: center;
    border: 3px solid black;
    padding: 5px;
    height: 400px;
    align-items:center;
}

.caja {
    
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(241, 235, 235);
    padding: 20px;
    border: 4px solid rgb(114, 113, 113);
    margin: 2px;
    background-color: #444;
    

}

.red {
    
    background-color: red;
    align-self: flex-start;
   
    
}

.green {
    
    background-color: green;
        margin-top:-12%;
}

.blue {
    
    background-color: blue;
    align-self: center;
}

.orange {
   
    background-color: orange;
        align-self: flex-end;
}